<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/candidats}" class="nav-link">
        <i class="fas fa-users"></i> Candidats
    </a>
    <a th:href="@{/correcteurs}" class="nav-link">
        <i class="fas fa-chalkboard-teacher"></i> Correcteurs
    </a>
    <a th:href="@{/matieres}" class="nav-link">
        <i class="fas fa-book"></i> Matières
    </a>
    <a th:href="@{/parametres}" class="nav-link">
        <i class="fas fa-cog"></i> Paramètres
    </a>
    <a th:href="@{/notes}" class="nav-link">
        <i class="fas fa-pen-nib"></i> Notes
    </a>
    <a th:href="@{/resultats}" class="nav-link">
        <i class="fas fa-chart-line"></i> Résultats
    </a>
</nav>